#genre-result {
  display: flex;
  flex-wrap: wrap;
}
#genre-result ul {
  list-style: none;
  margin: 0;
  padding: 0;
  flex-basis: 50%;
}
#genre-result li {
  margin-bottom: 5px;
}
body {
  position: absolute;
    top: 26%;
    right: 6%;
    transform: translateY(-50%); 
    
}
